*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header-area{
   background-color: #262626;
}
.logo-area{
    padding: 20px;
}
.logo-area h2{
  color: #ff6600;
  font-size: 40px;
  font-family: 'Mansalva', cursive;
}
.logo-area h6{
    margin-top: -5%;
    
}
.logo-area h6 a{
    
    font-size: 12px;
    line-height: 1.2;
    color: rgba(255,255,255,.5);
    font-weight: bold;
}
.logo-area h6 a:hover{
    color: #fff;
}
.menu-area{
   
   
}
.menu-area ul{
   
}
.menu-area ul li a {
    color: #fff;
    font-size: 14px;
}
.menu-area ul li a:hover{
    color: #ff6600;
}

.search {
   width: 50px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
  }
  
.search:hover{
    width: 200px;
    border:  .5px solid #fff;
}
.form-control-search{
    background-color: #262626;
}
.input-group-text{
    background-color: #262626;
   
}
.fa-search{
      color: #ff6600;
  }
.boundary{
background-color: #ff6600;
height: 4px;
}
.info-area{
    
}

 .carousel-item img{
    width: 100%;
    height: 100vh;
}

.carousel-caption p {
  padding: 20px ;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
 

}
.carousel-caption{
    text-align: center;
    background: rgba(0,0,0,0.4);
    margin: 15% 0;
}

.blog-area h6 {
    padding: 30px 0;
    font-size: 30px;
    color: #ff6600;
    font-family: 'Quicksand', sans-serif;
}
.get-started {
    background-color: #e6e6e6;
}
.get-started h6 {
    padding: 30px 0;
    font-size: 40px;
    color: #ff6600;
    font-family: 'Quicksand', sans-serif;
}

.get-icon{
    color: #262626;
    font-size: 40px;

}

.team-area h6 {
    padding: 30px 0;
    font-size: 30px;
    color: #ff6600;
    font-family: 'Quicksand', sans-serif;
}

  
 .team-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
 
  
  }
  .team-col{
    height: 300px;
  }
  .team-col img{
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.6);
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    text-align: center;
  }
  
  .team-col:hover .team-image {
    opacity: 0.8;
    background: rgba(0,0,0,.6);
  }
  
  .team-col:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #ff6600;
    color: white;
    font-size: 13px;
    padding: 10px;
  }
.join-area{
  
  color: white;
 
}
.join-heading{
  font-size: 35px;
  font-weight: bold;
}
 .join-button{
  background-color: #ff6600;
    color: white;
    font-size: 20px;
 } 
 .service-area h6 {
    padding: 30px 0;
    font-size: 30px;
    color: #ff6600;
    font-family: 'Quicksand', sans-serif;
}

.footer-area{
    background-color: #262626;
    font-size: 12px;
    color: white;
 }
 .footer-area h2{
    color: #ff6600;
    font-size: 30px;
    font-family: 'Mansalva', cursive;
  }
.footer-heading{
    color: white;
    font-weight: bold;
 
}
.footer-heading:hover{
    color: #ff6600;
}
.footer-para{
    color: #b3b3b3;
    
}
.footer-para:hover{
    color: white;
}
.subscribe-box{
    background-color: #1a1a1a;
    padding: 15px;
   margin: 0 auto;
}
.follow-us{
    margin: 0 auto;
}
.follow-us h6{
    font-size: 15px;
    color: #b3b3b3;
}
.footer-icon{
font-size: 20px;
padding: 10px;
border-radius: 50px;
background-color: #b3b3b3;
color: #262626;
margin: 10px;
}
.footer-icon:hover{
    border:#ff6600 solid ;
}
.footer{
    height: 80px;
    background-color: #1a1a1a;
}
.footer p {
    font-size: 12px;
    color: #b3b3b3;
}